<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productAmount">
            <h2><span>Product Amount</span> {{ productAmount.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Total</span></dt>
                <dd>
                    <span>{{ productAmount.total }}</span>
                </dd>
                <dt><span>Inventory</span></dt>
                <dd>
                    <span>{{ productAmount.inventory }}</span>
                </dd>
                <dt><span>Product Sold</span></dt>
                <dd>
                    <span>{{ productAmount.productSold }}</span>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="productAmount.product">
                        <a [routerLink]="['/product', productAmount.product?.id, 'view']">{{ productAmount.product?.id }}</a>
                    </div>
                </dd>
                <dt><span>Size</span></dt>
                <dd>
                    <div *ngIf="productAmount.size">
                        <a [routerLink]="['/size', productAmount.size?.id, 'view']">{{ productAmount.size?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-amount', productAmount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
