<div>
    <h2 id="page-heading">
        <span>Product Amounts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-amount" [routerLink]="['/product-amount/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Product Amount
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productAmounts?.length === 0">
        <span>No productAmounts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productAmounts && productAmounts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="total"><span>Total</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inventory"><span>Inventory</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productSold"><span>Product Sold</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="product.id"><span>Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="size.id"><span>Size</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let productAmount of productAmounts ;trackBy: trackId">
                    <td><a [routerLink]="['/product-amount', productAmount.id, 'view']">{{ productAmount.id }}</a></td>
                    <td>{{ productAmount.total }}</td>
                    <td>{{ productAmount.inventory }}</td>
                    <td>{{ productAmount.productSold }}</td>
                    <td>
                        <div *ngIf="productAmount.product">
                            <a [routerLink]="['/product', productAmount.product?.id, 'view']" >{{ productAmount.product?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="productAmount.size">
                            <a [routerLink]="['/size', productAmount.size?.id, 'view']" >{{ productAmount.size?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-amount', productAmount.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product-amount', productAmount.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productAmount)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
