<div>
    <h2 id="page-heading">
        <span>Product Images</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-image" [routerLink]="['/product-image/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Product Image
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productImages?.length === 0">
        <span>No productImages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productImages && productImages.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photo"><span>Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="decription"><span>Decription</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="product.id"><span>Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let productImage of productImages ;trackBy: trackId">
                    <td><a [routerLink]="['/product-image', productImage.id, 'view']">{{ productImage.id }}</a></td>
                    <td>
                        <a *ngIf="productImage.photo" (click)="openFile(productImage.photoContentType, productImage.photo)">
                            <img [src]="'data:' + productImage.photoContentType + ';base64,' + productImage.photo" style="max-height: 30px;" alt="productImage image"/>
                        </a>
                        <span *ngIf="productImage.photo">{{ productImage.photoContentType }}, {{ byteSize(productImage.photo) }}</span>
                    </td>
                    <td>{{ productImage.decription }}</td>
                    <td>
                        <div *ngIf="productImage.product">
                            <a [routerLink]="['/product', productImage.product?.id, 'view']" >{{ productImage.product?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-image', productImage.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product-image', productImage.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productImage)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
