<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productImage">
            <h2><span>Product Image</span> {{ productImage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Photo</span></dt>
                <dd>
                    <div *ngIf="productImage.photo">
                        <a (click)="openFile(productImage.photoContentType, productImage.photo)">
                            <img [src]="'data:' + productImage.photoContentType + ';base64,' + productImage.photo" style="max-width: 100%;" alt="productImage image"/>
                        </a>
                        {{ productImage.photoContentType }}, {{ byteSize(productImage.photo) }}
                    </div>
                </dd>
                <dt><span>Decription</span></dt>
                <dd>
                    <span>{{ productImage.decription }}</span>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="productImage.product">
                        <a [routerLink]="['/product', productImage.product?.id, 'view']">{{ productImage.product?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-image', productImage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
