<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productDetails">
            <h2><span>Product Details</span> {{ productDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Decription</span></dt>
                <dd>
                    <span>{{ productDetails.decription }}</span>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="productDetails.product">
                        <a [routerLink]="['/product', productDetails.product?.id, 'view']">{{ productDetails.product?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-details', productDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
