@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/cyborg/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar.bg-dark {
    background-color: rgb(252, 252, 252) !important;
    border: 1px solid #282828;
}
.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/Adidas-Logo.png') no-repeat center center;
  background-size: contain;
  width: 80px;
  height: 55px;
}

span{
    color: #131212;
}

.dropdown-menu {
    background-color: rgb(252, 252, 252) !important;
}
fa-icon{
	color: #131212;
}
