<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productImportHistory">
            <h2><span>Product Import History</span> {{ productImportHistory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Log</span></dt>
                <dd>
                    <span>{{ productImportHistory.log }}</span>
                </dd>
                <dt><span>Product Amount</span></dt>
                <dd>
                    <div *ngIf="productImportHistory.productAmount">
                        <a [routerLink]="['/product-amount', productImportHistory.productAmount?.id, 'view']">{{ productImportHistory.productAmount?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-import-history', productImportHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
