<div>
    <h2 id="page-heading">
        <span>Product Import Histories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-import-history" [routerLink]="['/product-import-history/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Product Import History
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productImportHistories?.length === 0">
        <span>No productImportHistories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productImportHistories && productImportHistories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="log"><span>Log</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productAmount.id"><span>Product Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let productImportHistory of productImportHistories ;trackBy: trackId">
                    <td><a [routerLink]="['/product-import-history', productImportHistory.id, 'view']">{{ productImportHistory.id }}</a></td>
                    <td>{{ productImportHistory.log }}</td>
                    <td>
                        <div *ngIf="productImportHistory.productAmount">
                            <a [routerLink]="['/product-amount', productImportHistory.productAmount?.id, 'view']" >{{ productImportHistory.productAmount?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-import-history', productImportHistory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product-import-history', productImportHistory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productImportHistory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
