<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Product</span> {{ product.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ product.name }}</span>
                </dd>
                <dt><span>Photo</span></dt>
                <dd>
                    <div *ngIf="product.photo">
                        <a (click)="openFile(product.photoContentType, product.photo)">
                            <img [src]="'data:' + product.photoContentType + ';base64,' + product.photo" style="max-width: 100%;" alt="product image"/>
                        </a>
                        {{ product.photoContentType }}, {{ byteSize(product.photo) }}
                    </div>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ product.price }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ product.title }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ product.description }}</span>
                </dd>
                <dt><span>Discount</span></dt>
                <dd>
                    <span>{{ product.discount }}</span>
                </dd>
                <dt><span>Categori</span></dt>
                <dd>
                    <div *ngIf="product.categori">
                        <a [routerLink]="['/categori', product.categori?.id, 'view']">{{ product.categori?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
